<%= form_with url: people_path, method: :get, class: "flex-1" do |form| %>
<div class="flex flex-col sm:flex-row gap-4 flex-wrap items-center">
    <div class="flex flex-col gap-4">
        <div class="flex">
            <div class="text-sm font-medium  mr-2 text-default-color">Статус</div>
            <div class="flex items-center space-x-6">
                <%= label_tag :active_, class: "flex items-center space-x-2 cursor-pointer" do %>
                    <%= radio_button_tag :active, "", params[:active] == "" || params[:active].blank?, class: "text-color-active focus:ring-color-active" %>
                    <span class="text-sm text-default-color">Все</span>
                <% end %>

                <%= label_tag :active_true, class: "flex items-center space-x-2 cursor-pointer" do %>
                    <%= radio_button_tag :active, true, params[:active] == "true", class: "text-color-active focus:ring-color-active" %>
                    <span class="text-sm text-default-color">Активные</span>
                <% end %>

                <%= label_tag :active_false, class: "flex items-center space-x-2 cursor-pointer" do %>
                    <%= radio_button_tag :active, false, params[:active] == "false", class: "text-color-active focus:ring-color-active" %>
                    <span class="text-sm text-default-color">Архивные</span>
                <% end %>
            </div>
        </div>

        <div class="flex">
            <div class="text-sm font-medium mr-2 text-default-color">Участки</div>
            <div class="flex items-center space-x-6">
                <%= label_tag :plot_presence_, class: "flex items-center space-x-2 cursor-pointer" do %>
                    <%= radio_button_tag :plot_presence, "", params[:plot_presence] == "" || params[:plot_presence].blank?, class: "text-color-active focus:ring-color-active" %>
                    <span class="text-sm text-default-color">Все</span>
                <% end %>

                <%= label_tag :plot_presence_true, class: "flex items-center space-x-2 cursor-pointer" do %>
                    <%= radio_button_tag :plot_presence, true, params[:plot_presence] == "true", class: "text-color-active focus:ring-color-active" %>
                    <span class="text-sm text-default-color">С участками</span>
                <% end %>

                <%= label_tag :plot_presence_false, class: "flex items-center space-x-2 cursor-pointer" do %>
                    <%= radio_button_tag :plot_presence, false, params[:plot_presence] == "false", class: "text-color-active focus:ring-color-active" %>
                    <span class="text-sm text-default-color">Без участка</span>
                <% end %>
            </div>
        </div>
    </div>

    <div class="flex-1 min-w-[200px] relative">
        <%= text_field_tag :full_name,
              params[:full_name],
              autocomplete: nil,
              placeholder: "ФИО...",
              class: "text-input w-full px-4 py-2 transition duration-200 text-sm" %>

        <% if params[:full_name].present? %>
            <%= button_tag type: "button", onclick: "this.previousElementSibling.value=''; this.previousElementSibling.focus()", class: "absolute right-3 top-1/2 transform -translate-y-1/2 text-default-color transition duration-150" do %>
                <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                </svg>
            <% end %>
        <% end %>
    </div>

    <%= submit_tag "Поиск",
          name: nil,
          class: "btn-primary cursor-pointer px-4 py-2 rounded-lg transition duration-200 text-sm font-medium whitespace-nowrap" %>
</div>
<% end %>
