<th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider dark:text-black">
    <% if header_data[:param_name].present? %>
        <%= link_to people_path(params: build_params(header_data[:param_name])), class: "flex header_datas-center space-x-1 group" do %>
            <span><%= header_data[:column_name] %></span>
            <svg class="w-4 h-4 text-indigo-600 <%= no_sort?(header_data[:param_name]) ? "" : "rotate-180" %> group-hover:text-indigo-400 dark:text-black" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="<%= path_d(header_data[:param_name]) %>" />
            </svg>
        <% end %>
    <% else %>
        <span><%= header_data[:column_name] %></span>
    <% end %>
</th>
