<tr class="hover:bg-white/10 hover:-translate-y-1 transition duration-150">
    <td class="px-6 py-4 whitespace-nowrap">
        <%= link_to person, class: "block" do %>
            <p class="text-sm font-medium text-default-color hover:text-color-active transition duration-200">
                <%= person.full_name %>
            </p>
        <% end %>
    </td>
    <td class="px-6 py-4 whitespace-nowrap">
        <p class="text-sm text-default-color">
            <%= person.tel %>
        </p>
    </td>
    <td class="px-6 py-4 whitespace-nowrap">
        <p class="text-sm text-default-color max-w-xs truncate">
            <%= person.address %>
        </p>
    </td>
    <td class="px-6 py-4 whitespace-nowrap">
        <p class="text-sm text-default-color">
            <%= person.member %>
        </p>
    </td>
    <td class="px-6 py-4 whitespace-nowrap">
        <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full btn-primary">
            <%= person.owners.map(&:plot).count %>
        </span>
    </td>
    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
        <%= link_to "Редактировать", edit_person_path(person), class: "btn-primary transition py-2 px-4 rounded-lg" %>
    </td>
</tr>
