<div class="bg-white rounded-xl border border-gray-200 shadow-sm overflow-hidden mx-20 mb-6">
    <div class="bg-white rounded-xl border border-gray-200 p-6 shadow-sm">
        <div class="flex flex-col sm:flex-row justify-between items-start sm:items-center gap-4">
            <!-- Фильтры -->
            <%= render partial: "form" %>

            <!-- Кнопка создания -->
            <%= link_to new_plot_path, class: "px-6 py-3 bg-indigo-500 text-white rounded-lg hover:bg-indigo-600 transition duration-200 font-medium flex items-center gap-2 whitespace-nowrap" do %>
            <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
            </svg>
            Новый участок
            <% end %>
        </div>
    </div>
</div>

<!--таблица-->
<div class="bg-white rounded-xl border border-gray-200 shadow-sm overflow-hidden mx-20">
    <div class="overflow-x-auto">
        <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
                <tr>
                    <% ["ФИО", "Телефон", "Адрес", "Участник", "Участков", "Действия"].each do |column_name| %>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        <%= column_name %>
                    </th>
                    <% end %>
                </tr>
            </thead>

            <tbody class="bg-white divide-y divide-gray-200">
                <%= render partial: "person_row", collection: @people, as: :person %>
            </tbody>
        </table>
    </div>
</div>

<!-- Пагинация -->
<div class="flex-none flex justify-center items-center">
    <%== @pagy.series_nav %>
</div>
