<%= form_with url: plots_path, method: :get do |form| %>
    <div class="flex flex-col sm:flex-row gap-4 flex-wrap">
        <div class="flex items-center gap-2 text-default-color">
            <span class="text-sm text-inherit">Площадь:</span>
            <%= form.number_field :area_min, min: 0, step: 0.1, placeholder: "От", value: params[:area_min], class: "text-input w-20 px-3 py-2 text-sm " %>
            <span class="text-inherit">-</span>
            <%= form.number_field :area_max, min: 0, step: 0.1, placeholder: "До", value: params[:area_max], class: "text-input w-20 px-3 py-2 text-sm" %>
            <span class="text-sm text-inherit">сот.</span>
        </div>

        <div class="min-w-52 max-w-52">
            <%= select_tag :people, grouped_options_for_select(PlotSearch.people_select_options, params[:people]), multiple: true, class: "text-input w-full", placeholder: "Выберите собственников", data: {controller: "tom-select"} %>
        </div>

        <%= button_tag "Применить", type: "submit", class: "px-4 py-2 btn-primary rounded-lg transition duration-200 text-sm font-medium" %>
    </div>
<% end %>
