<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
<%= javascript_include_tag "main_map" %>

<div class="flex h-full">
    <!-- map -->
        <div class="mx-4 my-4 w-3/5 max-h-700px">
            <div id="map" class="map w-full h-full"></div>
        </div>

    <!-- form -->
    <div id="data_form" class="p-5 w-2/5 h-full max-h-700px">
        <!-- plots -->
        
        <div class="h-full w-full">
            <%= render "plot_filters" %>

            <div class="rounded-lg p-8 flex flex-col w-full shadow-2xl h-4/5">

                <div class="divide-solid devide-y">
                    <div class="inline-block text-xl">Данные участка № <b id="plot_number"></b></div>
                </div>

                <%= render "plot_data" %>
                <%= render partial: "plot_update_form", locals: {people: @people} %>
            </div>
        </div>

        <!-- hunters -->
        <div class="hidden h-full w-full">
            <%= render "hunter_filters" %>

            <div class="rounded-lg p-8 flex flex-col w-full shadow-2xl h-4/5">

                <div class="divide-solid devide-y">
                    <div class="inline-block text-xl">Данные участка № <b id="plot_number"></b></div>
                </div>

                <%= render "hunter_data" %>
                <%= render partial: "hunter_update_form", locals: {people: @people} %>
            </div>
        </div>
    </div>
</div>
