<meta name="openweather-api-key" content="<%= ENV["OPEN_WEATHER_API_KEY"] %>">

<div class="flex h-full min-h-0">
    <div class="w-3/5 h-full min-h-0 p-4">
        <div
             class="w-full h-full rounded-xl"
             data-controller="plot"
             data-plot-target="map"
             data-plot-id-value="<%= plot.id %>">
        </div>
    </div>

    <div class="w-2/5 overflow-y-auto py-4 pr-4 p-6 space-y-6 max-h-[90vh]">
        <section class="p-6 card">
            <h2 class="text-xl font-semibold text-default-color mb-4">Основная информация</h2>
            <div class="space-y-3">
                <div class="flex justify-between">
                    <span class="text-default-color">Номер участка:</span>
                    <span class="font-medium"><%= plot.number %></span>
                </div>
                <div class="flex justify-between">
                    <span class="text-default-color">Площадь:</span>
                    <span class="font-medium"><%= plot.area %> м</span>
                </div>
                <div class="flex justify-between">
                    <span class="text-default-color">Кадастровый номер:</span>
                    <span class="font-medium"><%= plot.cadastral_number %></span>
                </div>
                <div class="flex justify-between">
                    <span class="text-default-color">Статус продажи:</span>
                    <span class="px-2 py-1 bg-green-100 text-green-800 text-xs rounded-full"><%= plot.sale_status %></span>
                </div>
                <div class="flex justify-between">
                    <span class="text-default-color">Тип владения:</span>
                    <span class="px-2 py-1 bg-green-100 text-green-800 text-xs rounded-full"><%= plot.owner_type %></span>
                </div>
            </div>
        </section>

        <section class="p-6 card">
            <div class="space-y-4">
                <% if person %>
                <div class="flex items-center space-x-3">
                    <div class="w-10 h-10 bg-white rounded-full flex items-center justify-center">
                        <span class="text-black font-medium">:)</span>
                    </div>
                    <div>
                        <%= link_to(person.full_name, person_path(person), class: "font-medium") %>
                        <p class="text-sm text-default-color"><%= person.tel %></p>
                    </div>
                </div>
                <% else %>
                    <p>Владелец не указан</p>
                <% end %>
            </div>
        </section>

        <section class="p-6 card">
            <%= turbo_frame_tag "weather", src: weather_plot_path(plot) do %>
                Поиск текущей погоды...
            <% end %>
        </section>

        <section class="p-6 card">
            <% if plot.photos.any? %>
                <%= render "plots/show/photos", photos: plot.photos %>
            <% else %>
                <%= render "plots/show/no_content" %>
            <% end %>
        </section>

        <section class="p-6 card">
            <h2 class="text-xl font-semibold text-default-color mb-4">История изменений</h2>
            <div class="space-y-4">
                <div class="flex justify-between items-start">
                    <div>
                        <p class="font-medium text-default-color">Изменен статус участка</p>
                        <p class="text-sm text-default-color">Иван Иванов</p>
                    </div>
                    <span class="text-sm text-default-color">2 часа назад</span>
                </div>
                <div class="flex justify-between items-start">
                    <div>
                        <p class="font-medium text-default-color">Добавлен новый владелец</p>
                        <p class="text-sm text-default-color">Петр Петров</p>
                    </div>
                    <span class="text-sm text-default-color">1 день назад</span>
                </div>
            </div>
        </section>

        <section class="p-6 card">
            <h2 class="text-xl font-semibold text-gray-900 dark:text-white mb-4">Действия</h2>
            <div class="space-y-3">
                <%= button_tag "Редактировать информацию", type: "button", class: "w-full btn-primary py-3 px-4 rounded-lg transition duration-200 font-medium" %>
                <%= button_tag "Скачать документы", type: "button", class: "w-full btn-primary py-3 px-4 rounded-lg transition duration-200 font-medium" %>
                <%= button_to "Удалить участок и все записи о нем",
                      plot_path(plot),
                      method: :delete,
                      form: {data: {turbo_confirm: "Нажмите 'OK' чтобы удалить участок"}},
                      class: "w-full btn-alarm py-3 px-4 rounded-lg transition duration-200 font-medium" %>
            </div>
        </section>
    </div>
</div>
