<%= turbo_frame_tag "side_panel_plot_data" do %>
    <div class="border-b border-gray-200 pb-4 mb-4 dark:bg-gray-800 dark:border-gray-700">
        <%= link_to plot_path(plot), class: "flex justify-between", data: {turbo: false} do %>
            <div class="text-xl text-gray-900 dark:text-white">
                    Данные участка № <b class="font-semibold text-indigo-600 dark:text-white"><%= plot.number %></b>
            </div>
            <div>→</div>
        <% end %>
    </div>

    <div class="flex flex-col h-full">
        <div class="flex-auto">
            <div>
                <div class="mb-4">
                    <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Владелец участка</h3>
                    <%= link_to plot.person.full_name, person_path(plot.person), data: {turbo: false}, class: "text-indigo-600 text-lg dark:text-inherit" %>
                </div>
                <div class="space-y-1 text-gray-700 dark:text-white">
                    <div><span class="font-medium dark:text-inherit">Тип владения:</span> <span class="text-indigo-600 dark:text-inherit"><%= plot.owner_type %></span></div>
                    <div><span class="font-medium dark:text-inherit">Тел:</span> <span class="text-indigo-600 dark:text-inherit"><%= plot.person.tel %></span></div>
                    <div><span class="font-medium dark:text-inherit">Адрес:</span> <span class="text-indigo-600 dark:text-inherit"><%= plot.person.address %></span></div>
                </div>
            </div>

            <div>
                <h3 class="text-lg font-semibold text-gray-900 mt-4 mb-1 dark:text-white">Данные участка</h3>
                <div class="space-y-1 text-gray-700 dark:text-white">
                    <div><span class="font-medium dark:text-inherit">Кадастровый №:</span> <span class="text-indigo-600 dark:text-inherit"><%= plot.cadastral_number %></span></div>
                    <div><span class="font-medium dark:text-inherit">Площадь:</span> <span class="text-indigo-600 dark:text-inherit"><%= plot.area %></span> м<sup>2</sup></div>
                    <div><span class="font-medium dark:text-inherit">Периметр:</span> <span class="text-indigo-600 dark:text-inherit"><%= plot.perimeter %></span> м</div>
                    <div><span class="font-medium dark:text-inherit">Статус продажи:</span> <span class="text-indigo-600 dark:text-inherit"><%= plot.sale_status %></span></div>
                    <div>
                        <% if plot.description? %>
                            <div class="font-medium mb-2 dark:text-white">Дополнительная информация:</div>
                            <div class="text-gray-600 bg-gray-50 p-3 rounded-lg dark:bg-zinc-200">
                                <%= plot.description %>
                            </div>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>

        <%= link_to "Обновить данные участка", edit_side_panel_plot_path(plot), class: "mt-6 px-6 py-3 bg-indigo-500 text-white rounded-lg hover:bg-indigo-600 transition duration-200 font-medium disabled:bg-gray-400 disabled:text-gray-200 disabled:cursor-not-allowed" %>
    </div>
<% end %>
