<div class="flex h-full min-h-0" data-controller="village" data-village-id-value="<%= village.id %>">
    <!-- Левая часть - карта -->
    <div class="w-3/5 h-full min-h-0 p-4">
        <div class="w-full h-full rounded-xl" data-village-target="map"></div>
    </div>

    <!-- Правая часть - информация -->
    <div class="w-2/5 flex flex-col h-full min-h-0 p-4 space-y-6">
        <!-- Основная информация -->
        <section class="bg-white rounded-lg border border-gray-200 p-6 dark:bg-gray-800 dark:border-gray-700">
            <h2 class="text-xl font-semibold text-gray-900 mb-4 dark:text-white">Основная информация</h2>
            <div class="space-y-3">
                <div class="flex justify-between">
                    <span class="text-gray-600 dark:text-white">Название</span>
                    <span class="font-medium dark:text-white"><%= village.name %></span>
                </div>
                <div class="flex justify-between">
                    <span class="text-gray-600 dark:text-white">Площадь:</span>
                    <span class="font-medium dark:text-white"><%= village.geom.area.round(2) %> м</span>
                </div>
                <div class="flex justify-between">
                    <span class="text-gray-600 dark:text-white">Кадастровый номер:</span>
                    <span class="font-medium dark:text-white"><%= village.cadastral_number %></span>
                </div>
            </div>
        </section>

        <section class="space-y-4 bg-white rounded-lg border border-gray-200 p-6 dark:bg-gray-800 dark:border-gray-700">
            <% if village.agromonitoring_integration? %>
                <h2 class="text-xl font-semibold text-gray-900 mb-4 dark:text-white">Агромониторинг</h2>
                <%= render "agromonitoring_tiles", village: %>

                <%= form_with url: add_tiles_village_agromonitoring_path(village) do |form| %>
                    <%= form.date_field :from, value: 1.weeks.ago.to_date, class: "w-1/3 px-3 py-2 border border-gray-300 rounded-lg text-sm focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500 transition duration-200 dark:bg-zinc-200 dark:border-gray-500 dark:text-black dark:focus:ring-indigo-400" %>
                    <%= form.date_field :to, value: Date.current, class: "w-1/3 px-3 py-2 border border-gray-300 rounded-lg text-sm focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500 transition duration-200 dark:bg-zinc-200 dark:border-gray-500 dark:text-black dark:focus:ring-indigo-400" %>
                    <%= form.submit "Добавить снимки", class: "bg-btn-green hover:bg-indigo-600 text-white py-2 px-4 rounded-lg" %>
                <% end %>
                <%= button_to "Удалить интеграцию",
                      village_agromonitoring_path(village),
                      method: :delete,
                      form: {data: {turbo_confirm: "Нажмите 'OK' чтобы удалить интеграцию"}} %>
            <% else %>
                <p class="text-gray-600 dark:text-white">Агромониторинг не интегрирован</p>
                <%= button_to "Интегрировать агромониторинг", village_agromonitoring_path(village), class: "bg-btn-green hover:bg-indigo-600 text-white py-2 px-4 rounded-lg" %>
            <% end %>
        </section>
    </div>
</div>
