<div class="flex h-full min-h-0" data-controller="village" data-village-id-value="<%= village.id %>">
    <!-- Левая часть - карта -->
    <div class="w-3/5 h-full min-h-0 p-4">
        <div class="w-full h-full rounded-xl" data-village-target="map"></div>
    </div>

    <!-- Правая часть - информация -->
    <div class="w-2/5 flex flex-col h-full min-h-0 p-4 space-y-6">
        <!-- Основная информация -->
        <section class="bg-white rounded-lg border border-gray-200 p-6 dark:bg-gray-800 dark:border-gray-700">
            <h2 class="text-xl font-semibold text-gray-900 mb-4 dark:text-white">Основная информация</h2>
            <div class="space-y-3">
                <div class="flex justify-between">
                    <span class="text-gray-600 dark:text-white">Название</span>
                    <span class="font-medium dark:text-white"><%= village.name %></span>
                </div>
                <div class="flex justify-between">
                    <span class="text-gray-600 dark:text-white">Площадь:</span>
                    <span class="font-medium dark:text-white"><%= village.geom.area.round(2) %> м</span>
                </div>
                <div class="flex justify-between">
                    <span class="text-gray-600 dark:text-white">Кадастровый номер:</span>
                    <span class="font-medium dark:text-white"><%= village.cadastral_number %></span>
                </div>
            </div>
        </section>

        <section class="space-y-4 bg-white rounded-lg border border-gray-200 p-6 dark:bg-gray-800 dark:border-gray-700">
            <div class="flex flex-row justify-between">
                <h2 class="text-xl font-semibold text-gray-900 mb-4 dark:text-white">Агромониторинг</h2>
                <span class="flex items-center px-2 py-1 text-s font-medium rounded-full <%= village.agromonitoring_integration? ? "bg-green-100 text-green-800 dark:bg-green-900/30 dark:text-green-300" : "bg-gray-100 text-gray-800 dark:bg-gray-700 dark:text-gray-300" %>">
                    <%= village.agromonitoring_integration? ? "Активно" : "Неактивна" %>
                </span>
            </div>

            <%= render "agromonitoring_tiles", village: %>

            <%= form_with url: add_tiles_village_path(village), method: :post do |form| %>
                <%= form.date_field :from, label: "С", value: 1.week.ago.to_date %>
                <%= form.date_field :to, label: "По", value: Date.current %>
                <%= form.submit "Добавить снимки", class: "bg-btn-green hover:bg-indigo-600 text-white py-2 px-4 rounded" %>
            <% end %>
        </section>
    </div>
</div>
